<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Basic Animation Using CSS Transforms</title>
  <style>
    .box {
        border-style: solid;
        border-width: 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: #0000ff;
        transition:
            width 2s,
            height 2s,
            background-color 2s,
            transform 2s;
    }

    .box:hover {
        background-color: #ffcccc;
        width: 200px;
        height: 200px;
        transform: rotate(180deg);
    }
  </style>
</head>
<body>
  <img class="box" src="Cover.png" />
</body>
</html>
